body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header{
    height: 20dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button#how-to-play-button{
    position: absolute;
    font-size: clamp(1rem, 3vw, 2rem);
    opacity: 0.75;
}

button#how-to-play-button:hover{
    transform: scale(1);
    opacity: 1;
}
